/** Fuente "Roboto" **/
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;0,700;1,400;1,700&display=swap');

/** Fuente "Lato" **/
@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,400;0,900;1,400;1,900&display=swap');

:root {
    /* Fuentes */
    --fuente__principal: 'Roboto', sans-serif;
    --fuente__secundaria: 'Lato', sans-serif;

    /* Paleta de Colores */
    --color__principal: #1073BA;
    --color__secundario: #00DA55;
    --gris: #3B3B3B;
    --gris__claro: #E1E1E1;
    --blanco: #FFF;
    --negro: #1F1E1E;

    /* Dem치s Custom Properties */
    --separacion: 5rem
}

/** Globales **/
html {
    box-sizing: border-box;
    font-size: 62.5%;
    /* 1rem == 10px */
}

*,
*::before,
*::after {
    box-sizing: border-box;
}

body {
    font-family: var(--fuente__principal);
    font-size: 1.6rem;
    line-height: 1.5;
}

/** Globales - Contenedor **/
.contenedor {
    max-width: 120rem;
    width: 90%;
    margin: 0 auto;
}

h1,
h2,
h3 {
    font-weight: 900;
    font-family: var(--fuente__secundaria);
    margin: calc(var(--separacion) / 2);
}

h1 {
    font-size: 4.4rem;
}

h2 {
    font-size: 3.6rem;
}

h3 {
    font-size: 2.8rem;
}

img {
    max-width: 100%;
    height: auto;
    display: block;
}

/** Utilidades **/
.text-center {
    text-align: center;
}

/** Degradados **/
.degradado-verde {
    color: transparent;
    background: linear-gradient(to right, var(--color__principal) 0%, var(--color__secundario) 100%);
    -webkit-background-clip: text;
}

/** Header **/
.header {
    background-color: var(--negro);
    padding: calc(var(--separacion) * 3) 0;
    color: var(--blanco);
}

@media (max-width: 400px) {
    .header {
        padding-bottom: calc(var(--separacion) * 2);
    }
}

@media (min-width: 768px) and (min-height: 1000px) {
    .header {
        padding: calc(var(--separacion) * 1.8) 0;
    }
}

@media (min-width: 600px) {
    .contenido-header {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
    }
}

.texto-header {
    text-align: center;
    padding-top: var(--separacion);
}

@media (max-width: 480px) and (max-height: 800px) {
    .texto-header {
        padding-top: calc(var(--separacion) / 2);
    }
}

@media (min-width: 768px) {
    .texto-header {
        text-align: left;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        padding: 0;
    }
}

.texto-header p {
    margin: 0;
}

.tagline-producto {
    font-size: 3rem;
    font-weight: 900;
}

.nombre-producto {
    font-size: 6rem;
    margin: 0;
}

@media (min-width: 768px) {
    .nombre-producto {
        font-size: 10rem;
        line-height: 1;
    }
}

.precio-producto span {
    font-size: 6rem;
    font-weight: 900;
}

@media (min-width: 600px) and (max-height: 400px) {
    .texto-header {
        padding-top: 0;
    }

    .tagline-producto {
        font-size: 1.5rem;
    }

    .nombre-producto {
        font-size: 3rem;
    }

    .nombre-producto {
        font-size: 3rem;
    }
}

/** Secci칩n Principal **/
.iconos {
    padding-top: var(--separacion);
}

@media (min-width: 768px) {
    .iconos {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: 2rem;
    }

    .iconos:last-of-type {
        padding: var(--separacion) 0;
    }

}

.icono {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: calc(var(--separacion) / 2);
}

.icono:last-of-type {
    margin: 0;
}

@media (min-width: 768px) {
    .icono {
        margin: 0;
    }
}

.icono img {
    width: 5rem;
}

.icono h3 {
    text-align: center;
    padding-top: calc(var(--separacion) / 2);
    color: var(--color__principal);
    text-transform: uppercase;
    margin: 0;
}

/** Secci칩n Sobre Tech PRO **/
.seccion-tech {
    background-position: right;
    background-repeat: repeat, no-repeat;
    background-size: 100%, 110rem;
}

.notavif.notwebp .seccion-tech {
    background-image: linear-gradient(to bottom, transparent 50%, var(--color__principal) 0%), url(../img/imagen-mujer.jpg);
}

.webp .seccion-tech {
    background-image: linear-gradient(to bottom, transparent 50%, var(--color__principal) 0%), url(../img/imagen-mujer.webp);
}

.avif .seccion-tech {
    background-image: linear-gradient(to bottom, transparent 50%, var(--color__principal) 0%), url(../img/imagen-mujer.avif);
}

@media (min-width: 2000px) {
    .seccion-tech {
        background-size: 100%, 210rem;
    }
}

@media (min-width: 768px) {
    .seccion-tech {
        background-repeat: no-repeat;
    }

    .notavif.notwebp .seccion-tech {
        background-image: linear-gradient(to left, transparent 50%, var(--color__principal) 0%), url(../img/imagen-mujer.jpg);
    }

    .webp .seccion-tech {
        background-image: linear-gradient(to left, transparent 50%, var(--color__principal) 0%), url(../img/imagen-mujer.webp);
    }

    .avif .seccion-tech {
        background-image: linear-gradient(to left, transparent 50%, var(--color__principal) 0%), url(../img/imagen-mujer.avif);
    }
}

.texto-tech-grid {
    display: grid;
    grid-template-rows: repeat(2, 40rem);
    row-gap: var(--separacion);
}

@media (min-width: 768px) {
    .texto-tech-grid {
        grid-template-rows: unset;
        grid-template-columns: repeat(2, 1fr);
        row-gap: unset;
        column-gap: 4rem;
        padding: calc(var(--separacion) * 2) 0;
    }
}

.texto-sobre-tech {
    grid-row: 2 / 3;
    color: var(--blanco);
    padding-bottom: var(--separacion);

    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

@media (min-width: 768px) {
    .texto-sobre-tech {
        padding-bottom: 0;
    }
}

.texto-sobre-tech h2 {
    font-size: 4rem;
}

.texto-sobre-tech p {
    font-size: 2rem;
    line-height: 1.5;
}

/** Elige tu TechPRO **/
.modelos {
    padding: var(--separacion) 0;
}

.header-modelo {
    font-size: 6rem;
    margin-bottom: var(--separacion);
}

.listado-modelos {
    display: flex;
    flex-direction: column-reverse;
}

@media (min-width: 800px) {
    .listado-modelos {
        display: grid;
        grid-template: repeat(2, 20rem) / repeat(2, 1fr);
        gap: calc(var(--separacion) / 2);
    }
}

.modelo {
    background-color: var(--gris__claro);
    margin-bottom: 3rem;
    padding-left: 4rem;
    color: var(--color__principal);
    border-radius: 2rem;
    min-height: 20rem;

    background-repeat: no-repeat;
    background-position: 160% center;
    background-size: 22rem;

    display: flex;
    flex-direction: column;
    justify-content: center;
    transition-property: transform background-size font-size;
    transition-duration: .5s;

    -webkit-box-shadow: 10px 10px 8px 5px rgba(0, 0, 0, 0.27);
    -moz-box-shadow: 10px 10px 8px 5px rgba(0, 0, 0, 0.27);
    box-shadow: 10px 10px 8px 5px rgba(0, 0, 0, 0.27);
}

.modelo:nth-child(1) {
    margin-bottom: 0;
    background-image: url(../img/modelo-x.svg);
}

.modelo:nth-child(2) {
    background-image: url(../img/modelo-y.svg);
}

.modelo:nth-child(3) {
    background-color: var(--color__principal);
    color: var(--blanco);
    background-image: url(../img/modelo-z.svg);
}

@media (min-width: 800px) {
    .modelo:nth-child(3) {
        grid-row: 1 / 3;
        grid-column: 2 / 3;
    }
}

@media (min-width: 900px) {
    .modelo {
        background-position: 80% center;
        background-size: 20rem;
        margin: 0 1.7rem;


        -webkit-box-shadow: 5px 5px 8px 12px rgba(0, 0, 0, 0.27);
        -moz-box-shadow: 5px 5px 8px 12px rgba(0, 0, 0, 0.27);
        box-shadow: 5px 5px 8px 12px rgba(0, 0, 0, 0.27);
    }

    .modelo:nth-child(2) {
        margin-top: 2rem;
    }

    .modelo:nth-child(3) {
        background-size: 30rem;
        margin-bottom: -2rem;
    }
}

@media (min-width: 768px) and (max-width: 850px) {
    .modelo {
        background-size: 21.5rem;
        background-position: 85%;
    }

    .modelo:nth-child(3) {
        background-size: 22.5rem;
    }
}

@media (max-width: 950px) and (min-width: 400px) and (max-height: 950px) {
    .modelo {
        background-position: 175% center;
    }

    .modelo:nth-child(3) {
        background-position: 210% center;
        background-size: 25rem;
    }
}

.titulo-modelo {
    font-size: 2.4rem;
    margin-left: 0;
    font-weight: 700;
}

@media (min-width: 768px) {
    .modelo:hover {
        transform: scale(1.1);
        background-size: 30rem;
    }

    .modelo:nth-child(3):hover {
        background-size: 35rem;
    }

    .titulo-modelo {
        font-size: 2.8rem;
    }
}

.precio-modelo {
    font-size: 4rem;
    font-weight: 700;
    line-height: 0;
}

@media (max-width: 375px) {
    .titulo-modelo:nth-child(3) {
        font-size: 4rem;
        margin: 0;
    }

    .modelo:nth-child(3) .precio-modelo {
        font-size: 5rem;
    }
}

@media (min-width: 768px) {
    .modelo:nth-child(3) .precio-modelo {
        font-size: 6rem;
        transition: .5s;
    }

    .modelo:nth-child(3):hover .precio-modelo {
        font-size: 5rem;
    }
}

/** Newsletter **/
.newsletter {
    margin-top: calc(var(--separacion) * 2 - var(--separacion) / 2);
    background-position: top center;
    background-repeat: no-repeat;
    background-size: 100%, 60rem;
}

.notavif.notwebp .newsletter {
    background-image: linear-gradient(to bottom, transparent 50%, var(--blanco) 0%), url(../img/newsletter.jpg);
}

.webp .newsletter {
    background-image: linear-gradient(to bottom, transparent 50%, var(--blanco) 0%), url(../img/newsletter.webp);
}

.avif .newsletter {
    background-image: linear-gradient(to bottom, transparent 50%, var(--blanco) 0%), url(../img/newsletter.avif);
}

@media (min-width: 768px) and (max-width: 900px) {
    .newsletter {
        background-position: center, -10rem -22rem;
        background-size: 130%;
    }
}

@media (min-width: 900px) {
    .newsletter {
        background-position: center, -21rem -10rem;
        background-size: 100%, 100rem;
    }

    .notavif.notwebp .newsletter {
        background-image: linear-gradient(to right, transparent 50%, var(--blanco) 0%), url(../img/newsletter.jpg);
    }

    .webp .newsletter {
        background-image: linear-gradient(to right, transparent 50%, var(--blanco) 0%), url(../img/newsletter.webp);
    }

    .avif .newsletter {
        background-image: linear-gradient(to right, transparent 50%, var(--blanco) 0%), url(../img/newsletter.avif);
    }
}

.contenido-newsletter {
    display: grid;
    grid-template-rows: repeat(2, 30rem);
    gap: var(--separacion);
}

@media (min-width: 900px) {
    .contenido-newsletter {
        grid-template-rows: unset;
        grid-template-columns: repeat(2, 1fr);
    }
}

.texto-newsletter {
    grid-row: 2 / 3;
}

@media (min-width: 900px) {
    .texto-newsletter {
        grid-row: unset;
        grid-column: 2 / 3;
    }
}

.formulario {
    padding-bottom: 2rem;
}

.formulario input[type="text"] {
    width: 80%;
    padding: 1rem;
    margin: 3rem 0;
}

.formulario input[type="submit"] {
    width: 70%;
    padding: 2rem;
    background-color: var(--color__principal);
    color: var(--blanco);
    text-transform: uppercase;
    font-size: 2rem;
    font-weight: 900;
    border: none;
}

/** Footer de la p치gina web **/
.footer {

    padding: 5rem 0;
    margin-top: 20rem;
    background-color: var(--color__principal);

    display: grid;
    grid-template: repeat(2, auto) 1fr / 1.5fr 10% 10% 1fr;
    align-items: center;
    justify-items: center;
}

@media (min-width: 768px) {
    .footer {
        margin-top: 10rem;

    }
}

.footer__text {
    font-family: var(--fuente__secundaria);
    font-size: 2.5rem;
    text-align: center;
    grid-column: span 4;

    grid-row: 3 / 4;
}

.footer__text--created {
    font-size: 2rem;
    align-items: center;
    color: var(--blanco);
    font-family: var(--fuente__secundaria);
    grid-column: 1 / 2;
}

@media (max-width: 500px) {
    .footer {
        grid-template: 1fr 5.5rem 1fr / repeat(2, 1fr);
        padding: .5rem;
    }

    .footer__text {
        font-size: 1.6rem;

        grid-column: 1 / 3;
    }

    .footer__text--created {
        grid-row: 1 / 2;
        grid-column: 1 / 3;
    }

    .footer__text--github {
        position: absolute;
        left: 30%;
    }

    .footer__text--repositorio {
        position: absolute;
        right: 30%;
    }
}

.footer__title {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
}

.footer__title--github {
    grid-column: span 1;
}

.footer__text--github {
    width: 50px;
    height: 50px;
}

.footer__title--text {
    visibility: hidden;
}

.footer__text--repositorio {
    width: 60px;
    height: 60px;
}

@media (min-width: 1400px) {
    .footer__title--github .footer__title--text {
        bottom: -79rem;
        left: 55.5%;
    }

    .footer__title--repositorio .footer__title--text {
        bottom: -81rem;
        left: 60%;
    }
}

@media (min-width: 768px) {
    .footer {
        gap: 0 .5rem;
    }

    .footer__text--created {
        font-size: 2.5rem;
        margin-left: 45%;

    }

    .footer__title--text {
        position: absolute;
    }

    .footer__text--github {
        width: 60px;
        height: 60px;
    }

    .footer__text--repositorio {
        margin-left: 2rem;
        width: 75px;
        height: 75px;
    }
}

@media (min-width: 800px) {
    .footer__text--created {
        font-size: 2.5rem;
        align-items: center;
        color: var(--blanco);
        font-family: var(--fuente-principal);

        margin-left: 75%;
    }

    .footer__text--github {
        margin-right: 0rem;
    }

    .footer__text--repositorio {
        margin-left: 0rem;
        margin-right: 6rem;
    }
}